configuration {
  modi: "drun,run,ssh";
  font: "Noto Sans Bold 14";
  show-icons: true;
  drun-icon-theme: "Papirus-Adapta";
  display-drun: "::";
}

@theme "theme"

// vim: set ts=2 sw=2 expandtab:
